* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

header { 
    width: 100vw; 
    height: 20em; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img{ 
   object-fit: cover;
}

.mainPhrase h3{ 
     color: #8182CB;
     text-align: center;
     width: 100%;
}

