@font-face{ 
    font-family: 'dk liquid';
    src: url(./assets/DK\ Liquid\ Embrace.ttf) format("opentype");
    
}



* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'dk liquid', sans-serif; 
}



header { 
    width: 100vw; 
    height: 15em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    color: #8182CB;
}

header .logo { 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

header .logo h1{ 
    font-size: 2.3em;
}

header nav li, a { 
    list-style: none;
    text-decoration: none;
    color: #8182CB;
    font-size: 1.1em;
    text-align: center;

}

.carousel-item img { 
    width: 18.75em; 
    height: 13.125em;
}

.carousel-item img{ 
   object-fit: cover;
}

.mainPhrase h3{ 
     color: #8182CB;
     text-align: center;
     width: 100%;
     padding: 5%; 
}

.container {
    height: 40em; 
}

.col-12 { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.allCardGirls { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardGirls{ 
    display: flex; 
    flex-direction: row;
}

.eachCardGirls{ 
      width: 12em; 
      height: 20em;
      text-align: center;
}


