@font-face{ 
    font-family: 'dk liquid';
    src: url(./assets/DK\ Liquid\ Embrace.ttf) format("opentype");
    
}



* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'dk liquid', sans-serif; 
}



header { 
    width: 100vw; 
    height: 15em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    color: #8182CB;
}

header .logo { 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

header .logo h1{ 
    font-size: 2.3em;
}

header nav li, a { 
    list-style: none;
    text-decoration: none;
    color: #8182CB;
    font-size: 1.1em;
    text-align: center;

}

.carousel-item img { 
    width: 18.75em; 
    height: 13.125em;
}

.carousel-item img{ 
   object-fit: cover;
}

.mainPhrase h3{ 
     color: #8182CB;
     text-align: center;
     width: 100%;
     padding: 5%; 
}

.col-12 {
    width: 100vw; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #8182CB;
    margin-bottom: 0.3em;
    margin-top: 0.1em;
}

.cardGirls{ 
    width: 100vw; 
    display: flex; 
    flex-direction: row;
  
    align-items: center;
    justify-content: center;
}

.eachCardGirls img{ 
   width: 5em;
   border-radius: 5px 20px 5px;
}

.eachCardGirls { 
    width: 8em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eachCardGirls h4{ 
    font-size: 1.2em;
    margin-top: 0.3em;
}

.about{ 
    width: 100vw; 
    height: 10em; 
    background-color: #8182CB;
}